
/* CSS reset */
body,div,ul,li,h3,p,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}


input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
th {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}


