body{background:linear-gradient(black,red);}
iframe{float:left;margin:0;padding-top:0px;}
h1{padding-top:10px;font-family:verdana;color:Yellow;}
p{font-family:verdana;font-size:20;color:white;word-wrap:break-word}
hr{margin:0;border-color:yellow;border-style:solid;}
h1:hover{text-shadow:5px 5px black;}
p:hover{text-shadow:2px 2px black;}
